<form #registroUsuarioForm #registroUsuario="ngForm" (ngSubmit)="onSubmit(registroUsuario)"  class="needs-validation" novalidate >
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre *</label>
        <input type="text" class="form-control" id="nombre" aria-describedby="nombre" name="nombre" [(ngModel)]="modelUserAdmin.nombre" required>
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido *</label>
        <input type="text" class="form-control" id="apellido" aria-describedby="apellido" name="apellido" [(ngModel)]="modelUserAdmin.apellido" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email *</label>
        <input type="email" class="form-control" id="email" aria-describedby="email" name="email" [(ngModel)]="modelUserAdmin.email" required>
    </div>
    <div class="mb-3">
        <label for="usuario" class="form-label">Usuario *</label>
        <input type="usuario" class="form-control" id="usuario" aria-describedby="usuario" name="usuario" [(ngModel)]="modelUserAdmin.usuario" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password *</label>
        <input type="password" class="form-control" id="password" aria-describedby="password" name="password" [(ngModel)]="modelUserAdmin.password" required>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" value="aceptado" class="form-check-input" name="userterms" id="userterms" [(ngModel)]="modelUserAdmin.userTerms" required>
        <label class="form-check-label" for="userterms">Acepto <a href="http://" target="_blank" rel="noopener noreferrer">condiciones y terminos de uso *</a></label>
      </div>

      <div class="d-grid gap-2 pt-4">
        <button type="submit" class="btn btn-dark p-2 rounded-3">Regsitrarse</button>
      </div>

      <div class="mb-3 form-check text-center  pt-4">
        <p>¿Ya tienes una cuenta? <a href="http://" target="_blank" rel="noopener noreferrer">Inicia sesión</a></p>
      </div>
</form>