<nav class="navbar bg-body-light">
    <div class="container-fluid">

        <div class="row w-100">

            <div class="col-1">
            </div>

            <div class="col-5">
                <a href="./" class="navbar-brand">Logo</a>
            </div>

            <div class="col-5 d-flex justify-content-end">
                <a href="./login" class="btn btn-outline-black me-2">Acceso</a>
                <a href="./registro" class="btn btn-black">Registro</a>
            </div>

            <div class="col-1"></div>

        </div>
    </div>
</nav>