<div class="row w-100">

    <div class="col-1">
    </div>

      <div class="col-5">

            <div class="container">
              <input type="text" placeholder="Buscar Evento...">
              <button type="submit" class="btn btn-black p-2 rounded-3">Buscar</button>
            </div>
        
        <br /> 

        <h3>Tus eventos</h3>

        <hr>

        <div class="row">
                <div class="mb-3 form-group">
                    <div *ngFor="let event of listadoEvento" > 
                      <table>
                        <p>
                          <tr>
                            <td>{{event.nombre}}
                             <div class ="form-text"> <small>{{event.fechaInicio}} - {{event.fechaFinal}}</small> </div>
                            </td>                                             
                              <td>                       
                                <div class="form-text"> {{event.personasRegistradas}} personas registradas <br>
                                 Aforo : {{event.capacidadEvento}} | Invitaciones Disponibles : 
                                 <button type="submit" class="btn btn-black p-2 rounded-3"></button>
                                </div> 
                              </td>
                          </tr>  
                        </p>                                            
                      </table>
                      <hr>
                    </div>
                </div>
        </div>
      </div>

    <div class="col-5 d-flex justify-content-end">

    </div>

    <div class="col-1"></div>

</div>