.eventos-lista {
  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 10px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;

      &:last-child {
        border-bottom: none;
      }

      h3 {
        margin-top: 0;
      }

      a {
        display: inline-block;
        margin-top: 10px;
        color: #007bff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
