<div class="row w-100">
    <div class="col-1"></div>
    <div class="col-5">
        <h3>Editar evento</h3>
        <hr>
        <form #editarEvento="ngForm" (ngSubmit)="onSubmit(editarEvento, $event)"
            class="{{inputsValidate ? 'was-validated' : 'needs-validation'}}">
            <div class="mb-3 form-group">
                <label for="image" class="form-label">Banner Evento</label>
                <input type="file" class="form-control" id="image" aria-describedby="image" name="image"
                    [(ngModel)]="modelEvento.image" required>
                <div class="form-text">(Imágen jpg, jpeg, png | Tamaño máximo: 1mb | Dimensión: 1000px x 1000px)</div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="mb-3 form-group">
                        <label for="nombreEvento" class="form-label">Nombre de evento *</label>
                        <input type="text" class="form-control" id="nombreEvento" aria-describedby="nombreEvento"
                            name="nombreEvento" [(ngModel)]="modelEvento.nombreEvento" required>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3 form-group">
                        <label for="tipoEvento" class="form-label">Tipo de evento *</label>
                        <select name="tipoEvento" id="tipoEvento" class="form-select"
                            aria-label="Default select example" [(ngModel)]="modelEvento.tipoEvento" required>
                            <option value="" disabled selected>Selecciona una opción</option>
                            <option value="presencial">Presencial</option>
                            <option value="online">En linea</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="mb-3 form-group">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" id="descripcion" rows="3"
                    [(ngModel)]="modelEvento.descripcion"></textarea>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="mb-3 form-group">
                        <label for="FechaYHoraInicio" class="form-label">Fecha y Hora inicio *</label>
                        <input type="date" class="form-control" id="fechaInicio" aria-describedby="fechaInicio"
                            name="fechaInicio" [(ngModel)]="modelEvento.fechaInicio" required>
                        <input type="time" class="form-control" id="horaInicio" aria-describedby="horaInicio"
                            name="horaInicio" [(ngModel)]="modelEvento.horaInicio" required>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3 form-group">
                        <label for="FechaYHoraFinal" class="form-label">Fecha y Hora final *</label>
                        <input type="date" class="form-control" id="fechaFinal" aria-describedby="fechaFinal"
                            name="fechaFinal" [(ngModel)]="modelEvento.fechaFinal" required>
                        <input type="time" class="form-control" id="horaFinal" aria-describedby="horaFinal"
                            name="horaFinal" [(ngModel)]="modelEvento.horaFinal" required>
                    </div>
                </div>
            </div>

            <div class="mb-3 form-group">
                <label for="direccion" class="form-label">Dirección completa *</label>
                <input type="text" class="form-control" id="direccion" aria-describedby="direccion" name="direccion"
                    [(ngModel)]="modelEvento.direccion" required>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="mb-3 form-group">
                        <label for="enlaceStreaming" class="form-label">Enlace Streaming *</label>
                        <input type="text" class="form-control" id="enlaceStreaming"
                            aria-describedby="enlaceStreaming" name="enlaceStreaming"
                            [(ngModel)]="modelEvento.enlaceStreaming" required>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3 form-group">
                        <label for="capacidadEvento" class="form-label">Capacidad del evento presencial *</label>
                        <input type="number" class="form-control" id="capacidadEvento"
                            aria-describedby="capacidadEvento" name="capacidadEvento"
                            [(ngModel)]="modelEvento.capacidadEvento" required>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-p-b btn-black p-2 rounded-3 w-100 mt-4 mb-4">Guardar Cambios</button>
            <button class="btn btn-danger" (click)="borrarInformacion()"> Borrar Informacion</button>

        </form>
    </div>
    <div class="col-5 d-flex justify-content-end">
    </div>
    <div class="col-1"></div>
</div>

