<div class="row w-100">

    <div class="col-1">
    </div>

    <div class="col-5">
        <h3>Crear evento</h3>

        <hr>

        <form #registroEvento="ngForm" (ngSubmit)="onSubmit(registroEvento, $event)"
            class="{{inputsValidate? 'was-validated' : 'needs-validation'}}">
            <div class="mb-3 form-group">
                <label for="image" class="form-label m-0 p-0 m-0 p-0">Banner Evento</label>
                <input type="file" class="form-control" id="image"
                    aria-describedby="image" name="image" [(ngModel)]="modelEvento.image" required>
                <div class="form-text"> (Imágen jpg, jpeg, png | Tamaño máximo: 1mb | Dimensión: 1000px x 1000px )</div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="mb-3 form-group">
                        <label for="nombreEvento" class="form-label m-0 p-0 m-0 p-0">Nombre de evento *</label>
                        <input placeholder="Exposición de arte" type="text" class="form-control" id="nombreEvento"
                            aria-describedby="nombreEvento" name="nombreEvento" [(ngModel)]="modelEvento.nombreEvento"
                            required>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3 form-group">
                        <label for="tipoEvento" class="form-label m-0 p-0 m-0 p-0">Tipo de evento *</label>
                        <select (change)="eventOnlineCheck($event)" name="tipoEvento" id="tipoEvento" class="form-select" aria-label="Default select example"  [(ngModel)]="modelEvento.tipoEvento">
                            <option disabled >Selecciona una opción</option>
                            <option value="presencial">Presencial</option>
                            <option value="online">En linea</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="mb-3 form-group">
                <label for="nombre" class="form-label m-0 p-0 m-0 p-0">Descripción</label>
                <textarea placeholder="Este evento es..." class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

            </div>

            <div class="row">
                <div class="col-6">
                    <div class="mb-3 form-group">
                        <label for="FechaYHoraInicio" class="form-label m-0 p-0 m-0 p-0">Fecha y Hora inicio *</label>
                     <div class="d-flex">
                        <input placeholder="Exposición de arte" type="date" class="form-control" id="fechaInicio"
                        aria-describedby="fechaInicio" name="fechaInicio" [(ngModel)]="modelEvento.fechaInicio"
                        required>
                        <input placeholder="Exposición de arte" type="time" class="form-control" id="horeIncio"
                        aria-describedby="horeIncio" name="horeIncio" [(ngModel)]="modelEvento.horeIncio"
                        required>
                     </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3 form-group">
                        <label for="FechaYHoraInicio" class="form-label m-0 p-0 m-0 p-0">Fecha y Hora final *</label>
                     <div class="d-flex">
                        <input placeholder="Exposición de arte" type="date" class="form-control" id="fechaFinal"
                        aria-describedby="fechaFinal" name="fechaFinal" [(ngModel)]="modelEvento.fechaFinal"
                        required>
                        <input placeholder="Exposición de arte" type="time" class="form-control" id="horeFinal"
                        aria-describedby="horeFinal" name="horeFinal" [(ngModel)]="modelEvento.horeFinal"
                        required>
                     </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!eventOnline" class="mb-3 form-group">
                <label for="direccion" class="form-label m-0 p-0 m-0 p-0">Dirección completa *</label>
                <input placeholder="Calle..." type="text" class="form-control" id="direccion"
                    aria-describedby="direccion" name="direccion" [(ngModel)]="modelEvento.direccion"
                    required>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="mb-3 form-group">
                        <label for="enlaceStreaming" class="form-label m-0 p-0 m-0 p-0">Enlace Streaming *</label>
                        <input placeholder="https://youtube.com" type="text" class="form-control" id="enlaceStreaming"
                            aria-describedby="enlaceStreaming" name="enlaceStreaming" [(ngModel)]="modelEvento.enlaceStreaming"
                            required>
                    </div>
                </div>
                <div class="col-6">
                    <div  *ngIf="!eventOnline" class="mb-3 form-group">
                        <label for="capacidadEvento" class="form-label m-0 p-0 m-0 p-0">Capacidad del evento presencial *</label>
                        <input placeholder="{{eventsWithZones ? '-' : 150}}" type="number" class="form-control" id="capacidadEvento"
                            aria-describedby="capacidadEvento" name="capacidadEvento" [(ngModel)]="modelEvento.capacidadEvento" [disabled]="eventsWithZones"  required>
                            <div class="form-check form-switch">
                                <input (click)="eventZones($event)" class="form-check-input" type="checkbox" role="switch" id="eventosZonas">
                                <label class="form-check-label form-text align-intems-center d-flex" for="eventosZonas">Activa esta opción si tu evento tendrá zonas</label>
                              </div>
                    </div>
                </div>

            </div>

            <div *ngIf="eventsWithZones" class="row">

                <h3>Añadir zonas</h3>
                <p>Puedes añadir zonas si tu locación lo requiere así puedes segmentar tickets por tipo y cantidades</p>

                <div class="mb-3 form-group">
                    <label for="image" class="form-label m-0 p-0 m-0 p-0">Mapa de zonas</label>
                    <input type="file" class="form-control" id="image"
                        aria-describedby="image" name="image" [(ngModel)]="modelEvento.imageMapaZona" required>
                    <div class="form-text">(Imágen jpg, jpeg, png | Tamaño máximo: 1mb |  Dimensión: 1000px x 1000px )</div>
                </div>
                
                <div *ngFor="let zone of allZones; let i = index">


                    <hr>
                    <div class="row pt-2 pb-2">
                        <p class="m-0"><b>Zona {{i + 1}}</b></p>
                        <div class="col-8">
                            <div class="form-group">
                                <label for="nombreZona" class="form-label m-0 p-0 m-0 p-0">Nombre de zona *</label>
                                <input placeholder="Tickets General" type="text" class="form-control" id="nombreZona"
                                    aria-describedby="nombreZona" name="nombreZona" [(ngModel)]="zone.nombreZona"
                                    required>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="cantidadDeTickets" class="form-label m-0 p-0 m-0 p-0">Cantidad de tickets *</label>
                                <input placeholder="30" type="number" class="form-control" id="cantidadDeTickets"
                                    aria-describedby="cantidadDeTickets" name="cantidadDeTickets" [(ngModel)]="zone.cantidadDeTickets"  required>
                            </div>
                        </div>
                        <div class="col-1 d-flex align-items-center justify-content-center">
                            <span class="cursor-pointer" (click)="removeZone(i)" ><i class="bi bi-trash"></i> </span>
                        </div>
                    </div>

                </div>
                
              

                <div class="row mt-4 mb-4">
                    <div class="col text-start">
                        <span class="cursor-pointer" (click)="addZones()" ><i class="bi bi-plus-circle-fill"></i> Añadir zona </span>
                    </div>
                </div>


            </div>

           

            <button type="submit" class="btn btn-p-b btn-black p-2 rounded-3 w-100 mt-4 mb-4">Crear Evento </button>

        </form>
    </div>

    <div class="col-5 d-flex justify-content-end">

    </div>

    <div class="col-1"></div>

</div>