<div *ngIf="evento">
  <h2>{{ evento.nombreEvento }}</h2>
  <p *ngIf="evento.fechaInicio && evento.fechaFinal">
    <b>Fecha y Hora:</b> 
    {{ evento.fechaInicio | date:'fullDate' }} a las {{ evento.horaIncio }}
    -
    {{ evento.fechaFinal | date:'fullDate' }} a las {{ evento.horaFinal }}
  </p>
  <p><b>Tipo:</b> {{ evento.tipoEvento }}</p>
  <p *ngIf="evento.enlaceStreaming">
    <b>Enlace de Streaming:</b> 
    <a href="{{ evento.enlaceStreaming }}">{{ evento.enlaceStreaming }}</a>
  </p>
  <p *ngIf="evento.direccion"><b>Dirección:</b> {{ evento.direccion }}</p>
  <p><b>Capacidad:</b> {{ evento.capacidadEvento }}</p>
  <p *ngIf="evento.descripcion"><b>Descripción:</b> {{ evento.descripcion }}</p>
</div>
