.evento-detalle {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: auto;

  h2 {
    color: #333;
    margin-bottom: 15px;
  }

  p {
    margin: 5px 0;
    color: #666;
    line-height: 1.6;

    b {
      color: #333;
    }

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .evento-detalle {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}
