.eliminar-usuario {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;

  label {
    margin: 10px 0 5px;
  }

  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .actualizar-btn, .eliminar-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .actualizar-btn {
    background-color: #4CAF50;
    color: white;
  }

  .eliminar-btn {
    background-color: #f44336;
    color: white;
  }
}
